.header {
  display: flex;
  flex-direction: column;
  height: 400;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(190, 133, 10);
  color: floralwhite;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}
/* // dynamic screen depending on width of screen// */
@media only screen and (min-width: 1024px) {
  .lower {
    display: flex;
    flex-direction: row;
  }

  .header {
    display: flex;
    height: 60%;
    float: left;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 5%;
  }
  .container {
    margin: 2%;
  }

  
}
